<div class="bbs_gg"><a href="#"><img src="/static/images/u6.png" /></a></div>
<div class="bbs_not bbs_box mt10">
  <div class="bbs_hd"><h3>论坛公告</h3></div>
     <div class="bbs_bd">
        <dl class="bbs_qq">
          <dd><a href="#" class="bbs_enter fr"><img src="/static/images/qqico.png" /></a>QQ一群：88888888(已满)</dd>
             <dd><a href="#" class="bbs_enter fr"><img src="/static/images/qqico.png" /></a>QQ二群：123567890</dd>
             <dd>社区的一些推广，大家前来顶贴哦！</dd>
             <dd><a href="#">• 社区在百度贴吧的推广帖子</a></dd>
             <dd><a href="#">• 社区在WeChat的推广贴子</a></dd>
        </dl>
     </div>
</div>