<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            
            <title>天天搜贷</title>
            <script language="javascript">
                var nn = 2;
                function num(){
                    document.getElementById("nuber").innerHTML = nn;
                    nn --;
                }

                function SetNum(){
                     setInterval("num()",1000);
                }

                function goback(){
                    setTimeout("history.back();", 3000);
                }

            </script>
    </head>
    
    <body onLoad="SetNum();goback() ">
        <p>{{ error_message }}<span id="nuber" style="color:#FF0000;">3</span><a href="#" onclick="window.history.go(-1);">秒后返回...</a></p>
    </body>
    
</html>