#div1{
	background-color:#4a3c70;
	height:70px;
	width:1140px;
	margin:0 auto;
}
ul{
list-style:none;
color:#FFFFFF;
float:left;
}
.ul1{
margin-left:120px;
font-size:16px;
}
.ul2{
font-size:12px;
}
.ul2 input{
	margin-top:5px;
	width:140px;
}
.ul2 ul[type="disc"]{
	margin-top:10px;
}

#main{
	width:1140px;
	border:1px solid #000;
	-moz-columns:95px 12;
	-webkit-columns:95px 12;
	columns:95px 12;
	height:500px;
	margin:0 auto;
	background-color:#eeeef0;
}

