body{
	margin:0px 0px 0px 220px;

}
a{
text-decoration:none;
color:#FFFFFF;
}


#container{

	background-color:#372c3a;
	height:70px;
	width:1140px;
	margin-left:-210px;

}

.tab1{
	font-size:18px;
	color:#FFFFFF;
	margin-left:250px;
	border-spacing:20px;

}

.tab2{
	font-size:11px;
	color:#FFFFFF;
	float:right;
	margin-top:-65px;
	margin-right:100px;
	border-spacing:20px;
}