body{
	margin:0px 0px 0px 220px;


}
a{
text-decoration:none;
color:#FFFFFF;
}

#main{
	
	-moz-columns:95px 12;
	-webkit-columns:95px 12;
	columns:95px 12;
	height:500px;
}

#container{
	background-color:#372c3a;
	height:60px;
	width:1140px;
	margin-left:-220px;	
}

.tab1{
	font-size:14px;
	color:#FFFFFF;
	margin-left:200px;
	border-spacing:20px;

}

.tab2{
	font-size:11px;
	color:#FFFFFF;
	float:right;
	margin-top:-65px;
	margin-right:150px;
	border-spacing:20px;
}