#div1{

	background-color:#372c3a;
	height:70px;
	width:1140px;
	
}
#div2{
margin-left:100px;
}
ul{
list-style:none;
color:#FFFFFF;
float:left;
padding:0 10px;

}
.ul1{
margin-left:150px;
font-size:18px;
}
.ul2{

font-size:12px;
}
.ul2 input{
	margin-top:5px;
	width:140px;
}
.ul2 ul[type="disc"]{
	margin-top:10px;
}

