
/*本地body{
	width:570px;
	background-color:#FFFFFF;
	border:1px solid #000000;
	height:400px;
	margin:0 auto;
}
*/
body{

	background-color:#eeeef0;
	width:1140px;
	margin:0px;
}
#div1 iframe{

margin:0 0 0 200px;

}
#sub{
margin-left:480px;
position:absolute;
}

#tab1{
margin:0 auto;
font-size:12px;
}
#tab2{
margin:20px 0;
margin-left:45px;
font-size:12px;
}
#tab2 input[type="text"]{		
	width:500px;
	height:30px;
	margin:0 auto;
}
#tab3{
	font-size:12px;
}
#tab3 hr{
margin-left:46px;
width:505px;
color:#eeeef0;
}
#tab4{
font-size:12px;
font-style:normal;
	margin:20px 0;
	margin-left:45px;
}
#tab4 hr{
margin-left:5px;
width:505px;
color:#eeeef0;
}
#tab4 tr[align]{
	font-size:32px;
}

#tab5{
font-size:12px;
margin:20px 0;
	margin-left:45px;
}
#tab5 hr{
margin-left:5px;
width:505px;
}
#tab5 input[type="text"]{		
	width:500px;
	height:30px;
	margin:0 auto;
}


#div2{	
	position:absolute;
	z-index:1;	
	margin:0 auto;
	width:600px;
	height:500px;
	background:#FFFFFF;
	margin-top:-500px;
}


#tab1 tr[align]{
	font-size:32px;
}

#tab1 input[type="text"]{		
	width:500px;
	height:30px;
	margin:0 auto;
}
a:hover{
color:#e1640d;
cursor:pointer;
}
input:focus{
border:1px solid #4a3c70;
}