<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>注册协议</title>
<link rel="stylesheet" href="css/agreement.css" />
</head>

<body>
<div id="main">
<iframe name="aa" src="index2.html"  scrolling="no" frameborder="0" marginwidth="0" marginheight="0" width="1140px" height="700px" ></iframe>
</div>
<div id="div1">
<div id="div2">
<div align="center"><p>注册协议</p></div>
<div id="div3">
<hr />
<textarea></textarea>
<hr />
</div>
<div align="center"><input type="button" style="height:30px;background-color:#4a3c70;width:80px;" value="返回" /></div>
</div>
</div>
</body>
</html>
