<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>忘记密码</title>
<link rel="stylesheet" href="css/forgetpwd.css" />
</head>

<body>
<div id="div1">
<table id="tab1">
	<tr align="center">
		<td>
			忘记密码
		</td>
	</tr>
	<tr>
		<td>
			<hr />
		</td>
	</tr>
	<tr>
		<td>
			<div align="center">请输入注册时填写的手机号获取验证码登录</div>
		</td>
	</tr>
	<tr>
		<td>
			<hr />
		</td>
	</tr>
	<tr>
		<td>
			手机号
		</td>
		<td>
		<div style="margin-left:-280px;">
			短信验证
		</div>
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" />
			<input type="text" />
			<input type="button" value="发送验证码" />
		</td>
	</tr>
	<tr>
		<td>
			<input style="width:450px;" type="button" value="登录"/>
		</td>
	</tr>
</table>
</div>
</body>
</html>
