<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>葡萄藤金福</title>
<link rel="stylesheet" href="css/index2.css" />
</head>
<body>
<div id="div1">
<ul class="ul1">
  <ul>
    <li>首页</li>
  </ul>
  <ul>
    <li>投资人风采</li>
  </ul>
  <ul>
    <li>项目风采</li>
  </ul>
  <ul>
    <li>项目发起</li>
  </ul>
  <ul>
    <li>众筹社区</li>
  </ul>
</ul>
<ul class="ul2">
  <ul>
    <li>
      <input type="text" placeholder="找项目,领投人" />
    </li>
  </ul>
  <ul type="disc">
    <li>注册</li>
  </ul>
  <ul type="disc">
    <li>登录</li>
  </ul>
</ul>
</div>
<div id="main"></div>
</body>
</html>
