<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/login.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/yz.js" type="text/javascript"></script>
    <!--[if gte IE 8]>
<script src="js/placeholder.min.js"></script>
<![endif]-->
    <script>
        function show() {
            code.style.display = "block";
        }
        function hide() {
            code.style.display = "none";
        }
    </script>
</head>
<body>
<div id="header">
    <div class="top">
        <ul class="nav">
            <li><a href="{% url 'searchindex' %}">首页</a></li>
            <li><a href="{% url 'do_reminder' %}">提醒</a></li>
            <li><a href="{% url 'myfavorite' 4 %}">收藏</a></li>
            <li><a href="{% url 'bbsindex' %}">社区</a></li>
        </ul>
    </div>
</div>
<div id="warp">
    <div class="login_header retrieve_header">
        <a href="{% url 'searchindex' %}"><img src="/static/images/logo1.png"/></a>
    </div>
    <div class="logib_line"></div>
    <div class="login_mid">
        <div class="login_left fl">
            {% if message %}
                <a style="font-size: 14px">{{ message }}</a>
            {% else %}
                <form class="registerform" action="" method="post">
                    <ul>
                        <li>
                            <label class="label"> 手机号 ：</label>
                            {{ form.username }}
                        </li>
                         <li>
                            <label class="label"> 短信验证码 ：</label>
                            {{ form.smscode }}
                             <button type="button" id="send_smscode">发送短信验证码</button>
                        </li>


                        <li>
                                   <input type="submit" class="login_dl" value="登录">

					    </li>

                    </ul>
                </form>
            {% endif %}
        </div>
        <div class="login_right fr">
            <p>还没有帐号？</p>
            <a href="{% url 'register' %}" class="login_btn"><img src="/static/images/reg_btn.png"/></a>
        </div>
    </div>
</div>
{% include "footer.html" %}
<script type="text/javascript">
   $(function(){
         $("#send_smscode").click(function(){
	      var username = $("input[name=username]").val();
	       $.post("/send_smscode/", {"phoneNum":username}, function(){});
     })
   })
</script>
</body>
</html>