<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>收藏夹</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<input type="button" id="bidbutton" value="bid" onclick="bid()"/>
<input type="button" id="platformbutton" value="platform" onclick="platform()"/>
<div class="navbar" id="bid" style="display: block">
    <div class="navbar-inner">
        {% for f in favoritebid %}
            <div class="container">
                <a class="brand" href="/"><br></a>
                <ul>
                    <li>{{ f.id }}</li>
                    <li>{{ f.platform_name }}</li>
                    <li>{{ f.name }}</li>
                    <li>{{ f.amount }}</li>
                    <li>{{ f.publish_time }}</li>
                    <li>{{ f.description }}</li>
                    <li>{{ user.username }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
<div class="navbar" id="platform" style="display: none">
    <div class="navbar-inner">
        {% for f in favoriteplatform %}
            <div class="container">
                <a class="brand" href="/"><br></a>
                <ul>
                    <li>{{ f.id }}</li>
                    <li>{{ f.income_range }}</li>
                    <li>{{ f.term_range }}</li>
                    <li>{{ f.corporate }}</li>
                    <li>{{ f.online_time }}</li>
                    <li>{{ f.pay_type }}</li>
                    <li>{{ user.username }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
</body>
<script language="JavaScript" type="text/javascript">
    function bid() {
        document.getElementById("bid").style.display = "block";
        document.getElementById("platform").style.display = "none";
    }
    function platform() {
        document.getElementById("bid").style.display = "none";
        document.getElementById("platform").style.display = "block";
    }
</script>
</html>