<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>葡萄藤金福登录</title>
<link rel="stylesheet" href="css/signin.css" />
</head>
<body>
<div id="div1">
<iframe name="aa" src="index.html"  scrolling="no" frameborder="0" marginwidth="0" marginheight="0" width="1140px" height="600px" ></iframe>
</div>
<div id="sub">
<div id="div2">
  <table id="tab1">
	<table id="tab4">
    <tr align="center">
      <td>登录</td>
    </tr>
    <tr>
      <td><hr /></td>
    </tr>
	</table>
	
	<table id="tab5">
    <tr>
      <td>手机号</td>
    </tr>
    <tr>
      <td><input type="text" /></td>
    </tr>
	</table>
	
	<table id="tab2">
	<tr>
      <td>密码</td>
    </tr>
    <tr>
      <td><input type="text" /></td>
    </tr>
	</table>
	
	<table id="tab3">
    <tr>
      <td><hr /></td>
    </tr>
    <tr>
      <td><div style="margin-left:45px;"><input type="checkbox" />下次自动登录</div></td>
	  <td><div style=" margin-left:-65px;">忘记密码</div></td>
    </tr>
	<tr>
      <td><hr /></td>
    </tr>
	</table> 
    <tr>	
      <td><input type="button" value="登录" style=" margin-top:20px; margin-left:45px;width:520px; height:30px;" /></td>
    </tr>
    <tr>
      <td><div style="margin-top:10px; margin-left:50px;font-size:12px;">第三方登录</div></td>
    </tr>
  </table>
</div>
</div>
</body>
</html>
