<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>注册账户</title>
<link rel="stylesheet" href="/static/css/signup.css" />
</head>

<body>
<div id="div1">
<iframe name="aa" src="{% url "index1"  %}"  scrolling="no" frameborder="0" marginwidth="0" marginheight="0" width="1140px" height="700px" ></iframe>
</div>
<div id="sub">
<div id="div2">
<table align="center" class="tab1">
	<tr align="center">
		<td>注册账户</td>
	</tr>
	<tr>
		<td><hr /></td>
	</tr>

	<tr>
		<td>手机</td>
	</tr>
	<tr>		
		<td><input style=" width:460px;" alt="" type="text" /></td>
	</tr>

	<tr>
		<td>密码</td>
		<td><div style="margin-left:-200px;">确认密码</div></td>
	</tr>
	<tr>
		<td><input type="text"/></td>
		<td><input type="text" style="margin-left:-200px;"/></td>
	</tr>

	<tr>
		<td>短信验证</td>

		<td><div style="margin-left:-200px;">图片验证码</div></td>
	</tr>
	<tr>
		<td><input type="text" style="width:60px;" /></td>
		<td><input type="button" style="margin-left:-350px;background-color:#4a3c70;height:30px;" value="发送验证码" /></td>
		<td><input type="text" style="margin-left:-205px;width:60px;"/></td>
		<td><input type="button" style="margin-left:-100px; background-color:#CCCCCC;height:30px;"/></td>
	</tr>

	<tr>
		<td><hr /></td>
	</tr>
	<tr>		
		<td><div align="center">注册即视为同意葡萄藤金融<<服务条款>></div></td>
	</tr>
	<tr>
		<td><hr /></td>
	</tr>

	<tr>
		<td><input style=" width:460px;" type="button" value="确认注册" /></td>
	</tr>
	<tr style="float:right">
		<td>已有葡萄藤金福账号,登录</td>
	</tr>
</table>
</div>
</div>
</body>
</html>
