<div class="user_left fl">
    <div class="user_box">
        <ul class="user_list">
            <li><a href="{% url 'userinformation' %}"
                    {% ifequal flag 1 %} class="active" {% endifequal %}>个人信息</a></li>
            <li><a href="{% url 'do_reminder' %}"
                    {% ifequal flag 2 %} class="active" {% endifequal %}>提醒设置</a></li>
            <li><a href="{% url 'save_filter' %}"
                    {% ifequal flag 3 %} class="active" {% endifequal %}>快捷查询设置</a></li>
            <li><a href="{% url 'myfavorite' 4 %}"
                    {% ifequal flag 4 %} class="active" {% endifequal %}>标的收藏管理</a></li>
            <li><a href="{% url 'myfavorite' 5 %}"
                    {% ifequal flag 5 %} class="active" {% endifequal %}>平台收藏管理</a></li>
        </ul>
    </div>
</div>