{% load staticfiles %}
{% load settingsvalue %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>天天搜贷</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/user.css" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!--[if gte IE 8]>
<script src="js/placeholder.min.js"></script>
<![endif]-->
    <script>
        function show() {
            code.style.display = "block";
        }
        function hide() {
            code.style.display = "none";
        }
    </script>

</head>

<body>
<div id="container">
    {% include "header.html" %}
    <div id="mid">
        <div class="user_con">
            {% include "little_search.html" %}
            <div class="user_conter mt10">
                {% include "user_config_nav.html" %}
                <div class="user_right fr">
                    <div class="user_set user_box">
                        {% if reminders %}
                            {% for reminder in reminders %}
                                <dl class="user_set_lsist">
                                    <a class="reminder_title" href="{% url 'bid_detail' reminder.bid_id %}" target="_blank">{{ reminder.bid_name }}</a>
                                    <ul>
                                <span><input name="{{ reminder.bid_id }}" type="checkbox"
                                             {% ifequal reminder.a 1 %}checked
                                             {% endifequal %}
                                             class="user_checkbox"/>开标提醒</span>
                                <span><input name="{{ reminder.bid_id }}" type="checkbox"
                                             {% ifequal reminder.b 1 %}checked
                                             {% endifequal %}
                                             class="user_checkbox"/>满标提醒</span>
                                <span>
                                    <input name="{{ reminder.bid_id }}" type="checkbox"
                                           {% if reminder.c %}checked
                                           {% endif %}
                                           class="user_checkbox"/>还款提醒
                                    <select name="" id="date_text{{ reminder.bid_id }}" type="text" class="user_txt">
                                        {% for day in days %}
                                            <option value="{{ day }}"
                                            {% ifequal day reminder.c  %}
                                                selected="selected"
                                            {% endifequal %}>{{ day }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span>
                                    <input name="{{ reminder.bid_id }}" type="checkbox"
                                            {% if reminder.e %} checked
                                            {% endif %}
                                           class="user_checkbox"/>可投金额提醒＜
                                    <input name="" id="amount_text{{ reminder.bid_id }}" type="text" class="user_txt"
                                           value="{{ reminder.e }}"/>
                                </span>
                                <span>
                                    <a class="reminder_btn" href="javascript:void(0)"
                                       onclick="add_remind({{ reminder.bid_id }}, 'change')">保存</a>
                                    <a class="reminder_btn" href="javascript:void(0)"
                                       onclick="del_remind({{ reminder.bid_id }}, 'change')">删除</a>
                                </span>

                                        <div class="button-group radio">
                                            <label {% ifequal reminder.status 1 %} class="button active" {% else %}
                                                                                   class="button" {% endifequal %}>
                                                <input bid="{{ reminder.bid_id }}" class="check_yes" name="pintuer"
                                                       value="yes"
                                                        {% ifequal reminder.status 1 %}
                                                       checked="checked" {% endifequal %}
                                                       type="radio">ON
                                            </label>
                                            <label {% ifequal reminder.status 0 %} class="button active" {% else %}
                                                                                   class="button" {% endifequal %}>
                                                <input bid="{{ reminder.bid_id }}" name="pintuer" class="check_no"
                                                       value="no"
                                                        {% ifequal reminder.status 0 %}
                                                       checked="checked" {% endifequal %}
                                                       type="radio">OFF</label>
                                        </div>
                                    </ul>
                                </dl>
                            {% endfor %}
                        {% else %}
                            <a>您还未设置任何提醒标的</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include "footer.html" %}
</div>
</body>
<script type="text/javascript">
    $('.radio label').each(function () {
        var e = $(this);
        e.click(function () {
            e.closest('.radio').find("label").removeClass("active");
            e.addClass("active");
        });
    });
    $(document).ready(function () {

    });

    $(".check_yes").on("click", function () {
        add_remind($(this).attr('bid'), 'active');
    });

    $(".check_no").on("click", function () {
        cancel_remind($(this).attr('bid'), 'inactive');
    });


    function add_remind(remind_yes, method) {
        var arr_value = [];
        var tests = document.getElementsByName(remind_yes);
        for (var j = 0; j < tests.length; j++) {
            if (tests[j].checked) {
                if (j == 3) {
                    tests[j].value = $("#amount_text" + remind_yes).val()
                }
                else if (j == 2) {
                    tests[j].value = $("#date_text" + remind_yes).val()
                } else {
                    tests[j].value = 1;
                }

            } else {
                tests[j].value = 0;
            }
            arr_value.push(tests[j].value);
        }
        $.post("{% url 'do_reminder' %}",
                {
                    bid: remind_yes,
                    params: arr_value,
                    method: method
                },
                function (data) {
                    alert(data);
                }
        );
    }

    function cancel_remind(remind_no) {
        $.post("{% url 'do_reminder' %}",
                {
                    bid: remind_no,
                    method: 'inactive'
                },
                function (data) {
                    alert(data);
                }
        );
    }

    function del_remind(remind_no) {
        $.post("{% url 'do_reminder' %}",
                {
                    bid: remind_no,
                    method: 'del'
                },
                function (data) {
                    alert(data);
                    location.reload();
                }
        );
    }
</script>
</html>
